{% extends 'layout/base.html' %}

{% block title %}auther{% endblock %}

{% block main %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
<div class="container">
    <main class="form-signin w-50 m-auto">
        <table class="table">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Create-Author
            </button>
            <thead>
                <tr>
                    <th scope="col">s.no</th>
                    <th scope="col">Auther</th>
                    <th scope="col">Content</th>
                    <th scope="col">Action</th>
                    <th scope="col">
                </th>
                </tr>
            </thead>
            <tbody>
                {% for auther in Authers %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{auther.user.name}}</td>
                    <td>{{auther.bio}}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ url_for('blog_blueprint.update_auther', id=auther.id) }}"
                            role="button"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="btn btn-danger" href="{{ url_for('blog_blueprint.delete_auther', id=auther.id) }}"
                            role="button"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form method="post">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Create auther</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="col-md-12 m-2">
                                <label for="inputState" class="form-label">Select User</label>
                                <select id="inputState" name="user" class="form-select">
                                    {% for user in users %}
                                    <option value="{{user.id}}" >{{user.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-12 m-2">
                                <label for="bio">Bio</label>
                                <textarea class="form-control" id="bio" name="bio" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>
</div>

<script>
    // Automatically show the modal when the page loads
    // document.addEventListener('DOMContentLoaded', function() {
    //     var modal = new bootstrap.Modal(document.getElementById('exampleModal'));
    //     modal.show();
    // });
</script>

{% endblock %}